html, body, #root{
    min-height: 100vh;
}
.container-form{
    text-align: center;
    height: 100%;
    margin-top: 10vh;
    margin-top: 0;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    border: 1px solid black;
    width: 40%;
    height: 100%;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 12px;
    background-color: var(--100);
    font-weight: bold;
    color: var(--700);
    padding-top: 1%;
}
p{
    margin-left: 7%;
    margin-bottom: 2%;
    text-align: left;
}
input{
    width: 85%;
    margin: 0 auto 0 auto;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

select{
    width: 85%;
    margin: 0% auto 2% auto;
}
.p-div{
    margin-top: auto;
}
button {
    margin: 3% auto 5% auto;
    width: 80%;
    border-radius: 12px;
    border: 2px solid var(--700);
    font-size: 17px;
    color: var(--700);
    font-weight: bold;
    padding: 1%;
    transition: all 0.5s ease;
    position: relative;          /* necesario para el pseudo-elemento */
    overflow: hidden;            /* para que no se salga la animación */
    
    cursor: pointer;
    display: flex;               /* para centrar el texto */
    align-items: center;
    justify-content: center;
}

/* Animación del fondo al hacer hover */
button:hover {
    background: linear-gradient(to right, var(--50), var(--50), var(--800), var(--800), var(--50), var(--50));
    background-size: 500% 100%;
    animation: animarFondo 3s linear infinite alternate;
}
button p{
    margin: 0;
}
/* P dentro del botón: animación de color */
button:hover p {
    margin: 0;
    color: var(--700);
    animation: colorTexto 1.5s ease-in-out infinite alternate;
}

/* Animación del fondo */
@keyframes animarFondo {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/* Animación de color para el texto */
@keyframes colorTexto {
    0% {
        color: var(--700);
    }
    100% {
        color: var(--50);
    }
}

#espec{
    transition: all .5s ease;
    text-align: center;
    margin-top: 2%;
}
.disappear{
    max-width: 0;
    max-height: 0;
}
.disappear p{
    display: none;
}
.disappear input{
    display: none;
}
.appear{
    max-width: 0;
    max-height: 0;
}
.appear p{
    display: block;
}
.appear input{
    display: block;
}
.p-login{
    color: var(--50);
    margin-left:0%;
    text-align: center;
}
.p-login a{
    text-decoration: none;
}