#columnas{
    margin-top: 1%;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
  width: 100%;
  text-align: center;
}
.encab{
  width: 100%;
  text-align: center;
  color: var(--500);
}
#contenedor{
  display: flex;
  width: 100%;
  height: 100%;
}
#left, #right{
    width: 50%;
    text-align: center;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2%;
    transition: all .5s ease;
}
li{
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#ul-left {
  list-style: none;
  margin-left: 2%;
  padding-left: 1.5em;
  text-align: left;

  max-height: 0%;
  overflow: hidden;


  transition: all .3s ease;
}

#ul-left li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 0%;
  margin-right: 2%;
  background-image: url('check-green.svg');
  background-size: contain;
  background-repeat: no-repeat;
}


#ul-right {
  list-style: none;
  margin-left: 2%;
  padding-left: 1.5em;
  text-align: left;
  transition: all .5s ease;

  max-height: 0%;
  overflow: hidden;



}

#ul-right li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 0%;
  margin-right: 2%;
  background-image: url('check-green.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
#left:hover{
  transform: scale(1.01);
  background-color: var(--500);
  transform: translateY(-4px);
  box-shadow: 0px 0px 10px var(--300);
  width: 70%;
  color: var(--50);
}

#left:hover .encab {
    color: var(--50)
}

#left:hover #ul-left{
  max-height: 100%;
}

#right:hover{
  transform: scale(1.01);
  background-color: var(--500);
  transform: translateY(-4px);
  box-shadow: 0px 0px 10px var(--300);
  width: 70%;
  color: var(--50)

}
#right:hover .encab {
    color: var(--50)
}

#right:hover #ul-right{
  max-height: 100%;
}
