#derecha{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-color: var(--450);
}
section{
    margin-left: 1%;
    padding: 3.5% 0 3.5% 0;
    text-align: left;

}
.section-h2{
    margin-top: 0;
}
strong{
    color: var(--800);
}